
svg {
  border: 1px solid gray;
}

div {
  font-family: 'Helvetica', sans-serif;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}
